main.outcome {

  p, div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    padding: 0.5em;

  }

  button {
    width: auto;
    padding: 0.75rem;
  }
}

main.win-battle {
  background: url('../../../images/medal-sunset-pixel.jpg');
  background-size: cover;

  p {
    background-color: #dd6;
  }
}

main.win-game {
  background: url('../../../images/cyberpunk-2.jpg');
  background-size: cover;

  div {
    background-color: #dd6;
  }

  table {
    border: 8px outset #999;
    border-radius: 18px;
    background-color: black;
    padding: 1px 1em;
    color: white;
    font-size: 10px;
    text-align: left;
    thead {
      
      padding: 1px 1em;
      font-size: 15px;
      
      // tbody, tfoot, tr, td, th {
      //   font-size: 10px;
      // }
      
    }
}

}

main.lose-battle {
  background: url('../../../images/lose-battle-image.png');
  background-size: cover;

  div, p {
    background-color: #555;
    color: white;
  }
}

main.lose-game {
  background: url('../../../images/defeat.png');
  background-size: cover;

  div {
    background-color: #555;
    color: white;
  }
}