main.outcome {

  p, div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    padding: 0.5em;

  }

  button {
    width: auto;
    padding: 0.75rem;
  }
}

main.win-battle {
  background: url('../../../images/medal-sunset-pixel.jpg');
  background-size: cover;
  background-position: center;

  p {
    background-color: #dd6;
  }
}

main.win-game {
  background: url('../../../images/cyberpunk-2.jpg');
  background-size: cover;
  background-position: center;

  div {
    background-color: #dd6;
  }
}

main.lose-battle {
  background: url('../../../images/lose-battle-image.png');
  background-size: cover;
  background-position: center;

  div, p {
    background-color: #555;
    color: white;
  }
}

main.lose-game {
  background: url('../../../images/defeat.png');
  background-size: cover;
  background-position: center;

  div {
    background-color: #555;
    color: white;
  }
}