/* Note that this stylesheet is loaded on all screens. Put all style rules into main.map to prevent it from affecting, say, the arena screen */

main.arena {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  background-color: lightblue;

  .health {
    width: 90%;
    justify-self: center;
    padding: 0.2rem;
    background-color: #FFF;
    border-radius: 1rem;
    img {
      height: 2rem;
    }
    .skillbar-title {
      // display: none;
    }
    .skillbar-bar {
      // position: relative;
      // left: 0;
    }
  }

  .typing {
    grid-column: span 2;
  }

  div.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
