main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  max-width: 80vw;
  max-height: 80vh;
  border: 1px black solid;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.health {
  width: 90%;
}

.typing {
  grid-column: span 2;
}