@import '../../styles/variables.scss';


.canvas {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../images/office-background-pixel.png');
  background-size: auto 100%;

  main {
    width: 75%;
    height: 80%;
    background-color: #FFF;
    border: 20px solid #474e5d;
    border-radius: 25px;
    position: absolute;
  }

  main:before,
  main:after {
    content: '';
    position: absolute;
    left: 50%;
  }

  main:before {
    top: -10px;
    margin: -3px 0 0 -3px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #a5adbd;
  }

  main:after {
    width: 9px;
    height: 9px;
    border-radius: 9px;
    bottom: -10px;
    margin: 0 0 -4px -4px;
    background: #e8ebf0;
  }

  button {
    width: 12rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px outset #999;
    font-family: $primary-font;
    background-color: Transparent;
    outline: none;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px #999;
  }

  button:hover {
    background: #51c971;
    border-radius: 15px;
  }
  
  button:active {
    box-shadow: 0 2px #666;
    transform: translateY(3px);
  }
}

