// Styles below affects ALL Game Modes

@import '../../styles/variables.scss';

.canvas {
  width: inherit;
  height: inherit;
  // Centers Game Canvas in the window
  display: flex;
  justify-content: center;
  align-items: center;
  // Set window background image
  background-image: url('../../images/cyberpunk-1.jpg');
  background-size: cover;

  .mute-music {
    align-self: flex-start;
  }

  // Style for Game Border
  main {
    width: 75%;
    height: 80%;
    background-color: #FFF;
    border: 20px solid #444;
    border-radius: 25px;
    position: absolute;
  }

  main:before,
  main:after {
    content: '';
    position: absolute;
    left: 50%;
  }

  main:before {
    top: -10px;
    margin: -3px 0 0 -3px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #d3d3d3;
  }

  main:after {
    width: 9px;
    height: 9px;
    border-radius: 9px;
    bottom: -10px;
    margin: 0 0 -4px -4px;
    background: #e8ebf0;
  }

  // Primary button style
  .primary {
    width: 15rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px outset #999;
    font-family: $primary-font;
    background-color: Transparent;
    outline: none;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px #999;
  }

  .primary:hover {
    background: #51c971;
    border-radius: 15px;
  }
  
  .primary:active {
    box-shadow: 0 2px #666;
    transform: translateY(3px);
  }

  // Custom scrollbar
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(192, 192, 192, 0.5);
    border-radius: 12px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(169, 169, 169);
    border-radius: 12px;
    border: 3px outset rgba(169, 169, 169, 0.5);
  }
}

