main.instructions {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
    url('../../images/windows-xp-wallpaper-pixel-art-blur.jpg');
  background-size: cover;

  div.instructions {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-y: auto;
    padding: 1rem;

    h2 {
      text-decoration: underline;
    }

    img {
      max-width: 100%;
      border-radius: 1rem;
    }
  }

}