/* Note that this stylesheet is loaded on all screens. Put all style rules into main.map to prevent it from affecting, say, the arena screen */
  
main.map {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('../../images/windows-xp-wallpaper-pixel-art.jpg');
  background-size: cover;
  
  div.RSPBprogressBar {

    width: 80%;
    margin: 1em;
    background-color: #474e5d;
    align-self: center;
  }

  .title {

    h1 {

    }

    .door-slider-dots {
      display: flex;
      justify-content: center;
    }
  }

  .doors-container {
    display: flex;
    height: 40vh;
    width: 60vw;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    // scroll-behaviour: smooth;
    // -webkit-overflow-scrolling: touch;

    // Style slider for doors (not working)
    // .door-container::-webkit-scrollbar {
    //   width: 10px;
    //   height: 10px;
    // }

    // .door-container::-webkit-scrollbar-thumb {
    //   background: black;
    //   border-radius: 10px;
    // }

    .door {
      display: flex;
      justify-content: space-around;
      width: 100%;
      flex-shrink: 0;
      height: 100%;
      scroll-snap-align: start;
      
      .door-arrow {
        align-self: center;
        justify-self: center;
        height: 100px;
      }
      
      .card {
        width: 40vw;
        display: flex;
        flex-direction: column;
        background-color: grey;
        border-radius: 18px;
        border: 10px outset #999;
        text-align: center;
        align-items: center;
        padding: 0.5rem;
        cursor: pointer;
        
        h3 {
          border: 5px outset rgb(85, 88, 92);
          border-radius: 18px;
          width: 85%;
          line-height: 2rem;
          font-size: 1.3rem;
          margin: 0;
        }

        .door-image {
          width: 85%;
          height: 55%;
          border: 5px outset rgb(85, 88, 92);
          border-radius: 18px;
          object-fit: cover;
          flex-grow: 2;
          margin: 0.5rem 0;
        }

        footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 1rem;
          width: 85%;

          div {
            border: 5px outset rgb(85, 88, 92);
            border-radius: 18px;
            padding: 0.5rem;
            display: flex;
            align-items: center;
            width: 50%
          }

          .points {
            margin-left: 0.5rem;
          }

          img {
            height: 2rem;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
