/* Note that this stylesheet is loaded on all screens. Put all style rules into main.map to prevent it from affecting, say, the arena screen */

main.map {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr;
  justify-items: center;

  div.RSPBprogressBar {
    grid-column: span 4;
    width: 90%;
    padding: 1em;
    margin: 0.5em;
  }

  .title {
    grid-column: span 5;
  }
}
