@import '../../styles/variables.scss';

main.start-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
    url('../../images/windows-xp-wallpaper-pixel-art-blur.jpg');
  background-size: cover;

  menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  input {
    width: 50%;
    border: 2px solid black;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    background-color: transparent;
    transition: .3s;
    border-radius: 18px;
    font-family: $primary-font;
    font-size: small;

  }
}