@import '../../styles/variables.scss';

main.start-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      width: 12rem;
      margin: 0.5rem;
      padding: 0.5rem;
      border: 1px outset #999;
      font-family: $primary-font;
      background-color: Transparent;
      outline: none;
      background-color: #fff;
      border-radius: 15px;
      box-shadow: 0 4px #999;
    }

    button:hover {
      background: #51c971;
      border-radius: 15px;
    }
    
    button:active {
      box-shadow: 0 2px #666;
      transform: translateY(3px);
    }

  }
}