@import '../../styles/variables.scss';

main.start-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../images/windows-xp-wallpaper-pixel-art.jpg');
  background-size: cover;
  text-align: center;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    

  }
}