// Fonts

$primary-font: 'Press Start 2P', cursive;
$root-font-size: 16px;

// Colours
$black: #000;
$white: #FFF;
$lighter-grey: #DCDCDC;
$light-grey: #C2C3C7;
$grey: #808080;
$dark-grey: #5F574F;

$green: #00E436;
$dark-green: #008751;
$blue: #29ADFF;
$dark-blue: #1D2B53;
$yellow: #FFEC27;
$orange: #FFA300;
$red: #FF004D;

$bar-background-colour: white;
